tzlocal<=2.1.0,>=1.0.0
six
attrs!=21.1.0
pyyaml
pytz
pytzdata
requests>=2.18.0
configparser<3.6.0,>=3.5.0
python-dateutil
certifi<2021.0.0
contextlib2; python_version < "3"
more-itertools==5.0.0; python_version < "3.0"
pygments<=2.5.2; python_version < "3.0"
typing; python_version < "3.7"
more-itertools; python_version >= "3.0"
pygments>=2.6.1; python_version >= "3.0"
colorama; sys_platform == "win32"
