tzlocal
six
more-itertools
attrs!=21.1.0
pyyaml
pytz
pytzdata
requests>=2.18.0
configparser<3.6.0,>=3.5.0
pygments>=2.6.1
python-dateutil
sqlparse
Jinja2
typing; python_version < "3.7"
colorama; sys_platform == "win32"
