# Install all development requirements, and restricted environments, already compatible with all of our plugins
-r requirements-dev.txt

# databand:
-e modules/dbnd

# databand tracking and orchestration plugins:
-e modules/dbnd-airflow
-e plugins/dbnd-snowflake
-e plugins/dbnd-spark
-e plugins/dbnd-test-scenarios

# databand tracking plugins:
-e modules/dbnd-airflow-monitor
-e plugins/dbnd-airflow-versioned-dag
-e modules/dbnd-dbt-monitor
-e modules/dbnd-datastage-monitor
-e plugins/dbnd-redshift
-e plugins/dbnd-databricks

# databand tracking (not in use)
-e plugins/dbnd-luigi
-e plugins/dbnd-mlflow
-e plugins/dbnd-postgres

# databand orchestration plugins:
-e plugins/dbnd-hdfs
-e plugins/dbnd-qubole
-e plugins/dbnd-tensorflow
-e plugins/dbnd-aws
-e plugins/dbnd-docker


