include LICENSE *.md *.toml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .ipynb_checkpoints

include src/dbnd_airflow_contrib/README.md
include src/dbnd_airflow_windows/README.md

recursive-include src/dbnd_airflow/airflow_dbnd_packages *.py
recursive-include src/dbnd_airflow/airflow_dbnd_packages *.md

prune test_dbnd_airflow
exclude tox.ini
