include LICENSE *.md *.toml
include src/dbnd_spark/_vendor/airflow/LICENSE

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .ipynb_checkpoints

exclude tox.ini
prune tests
prune  benchmark
