# configuration file, not shipped with the package
# we are using it for test runs only

[databand]
project_name = dbnd
verbose = False

[task_build]
;verbose = True

[task]
; task_version = 2
; task_target_date = today
; task_env = local

[core]
environments = ['local', 'local_resubmit']


[log]
# stream_stdout=True
# uncomment for sql debug
;at_debug = databand.web.services
;sqlalchemy_print = True
;sqlalchemy_trace = True
;sqlalchemy_profile = True


# ENVIRONMENTS
[local_resubmit]
_from = local
submit_driver = True

[local_prod]
_from = local

env_label = prod
production = True


[scheduler]
; config_file = ${DBND_SYSTEM}/scheduler.yml

[airflow]
fernet_key =
host = localhost
port = 8082

