include LICENSE *.rst *.toml
include *.requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .ipynb_checkpoints

exclude tox.ini
exclude *.requirements.in

prune test_datastage_monitor
