include LICENSE *.md *.toml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .ipynb_checkpoints

include *.py
recursive-include src *.py
include tox.ini
recursive-include scenarios *.java
recursive-include scenarios *.py
recursive-include scenarios *.xml
recursive-include src *.sh
recursive-include scripts *.sh

prune data
prune scenarios/dbnd-test-package
prune scenarios/jvm_spark_project
exclude src/dbnd_test_scenarios/test_common/README.md
