-r ./requirements-dev-tools.in

# Add all the requirements for the dbnd and dbnd modules

# databand:
-e modules/dbnd

# databand dev:
-e plugins/dbnd-test-scenarios

# databand tracking monitors:
-e modules/dbnd-airflow-monitor
-e modules/dbnd-dbt-monitor
-e modules/dbnd-datastage-monitor

# databand tracking
-e plugins/dbnd-mlflow
-e plugins/dbnd-postgres
-e plugins/dbnd-snowflake
-e plugins/dbnd-redshift

